.dialog pre {
  background-color: var(--geist-cyan);
  color: #000;
}

.dialog li:first-child {
  list-style-type: "🚀";
}
.dialog li:last-child {
  list-style-type: "🤯";
}
.dialog [data-cta] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  cursor: pointer;
}

.tooltip {
  border-radius: 0.25rem;
  background-color: black;
  color: white;
  padding: 0.25rem;
}
